<div class="home-container">
    <h1>Bienvenido a Vitality Center Gym</h1>
    
    <div class="cards-row">
      <div class="card welcome-card">
        <h2><strong>¿Quiénes somos?</strong></h2>
        <p>Somos más que un gimnasio: somos un espacio donde cada persona encuentra la motivación para superarse, la comunidad que la impulsa a seguir adelante y las herramientas para transformar su bienestar físico y mental. Ofrecemos más que máquinas y rutinas; brindamos apoyo, orientación profesional y un ambiente diseñado para inspirar constancia, disciplina y confianza. Aquí, cada meta cuenta y cada esfuerzo es reconocido. En cada sesión, ayudamos a construir versiones más fuertes, sanas y felices de quienes confían en nosotros.</p>
      </div>
      
      <div class="card admin-card">
        <h2><strong>Querido Administrador:</strong></h2>
        <p>Cada clic que ustedes realizan, cada dato que organizan y cada proceso que optimizan desde la administración, es una parte esencial del motor que impulsa nuestro gimnasio. Su trabajo, aunque a veces invisible para los ojos del cliente, es el engranaje que mantiene todo en marcha: permite que los entrenadores se enfoquen en motivar, que los usuarios vivan una experiencia fluida y que el sistema funcione con precisión. Gracias a su compromiso y atención al detalle, transformamos no solo cuerpos, sino también vidas. ¡Sigan adelante con orgullo, porque su labor marca la diferencia todos los días!</p>
      </div>
    </div>
  </div>