<div class="info-gimnasio-card">
  <img [src]="logoUrl" alt="Logo del gimnasio" class="logo" />
  <h2>{{ nombre }}</h2>
  <p><strong>Nombre legal:</strong> {{ nombreLegal }}</p>
  <p><strong>Cédula jurídica:</strong> {{ cedulaJuridica }}</p>
  <p><strong>Dirección:</strong> {{ direccion }}</p>
  <p><strong>Teléfono:</strong> {{ telefono }}</p>
  <p><strong>Correo:</strong> {{ correo }}</p>
  <p><strong>Horario:</strong> {{ horario }}</p>
  <p><strong>Sitio web:</strong>
    <a [href]="sitioWeb" target="_blank" rel="noopener noreferrer">{{ sitioWeb }}</a>
  </p>
  <p><strong>Redes sociales:</strong></p>
<ul>
  <li *ngFor="let red of redesSociales">
    <a [href]="red.url" target="_blank" rel="noopener noreferrer">{{ red.nombre }}</a>
  </li>
</ul>

</div>
